# API Configuration
VITE_API_URL=https://dummyjson.com/products

# App Configuration  
VITE_APP_TITLE=My E-Commerce

# (Agrega otras variables de entorno públicas aquí)
// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
const firebaseConfig = {
  apiKey: "AIzaSyCTAgb-WyUc_xYvMNcBJXxpJ-VGPzRiq7g",
  authDomain: "studio-8515800634-32539.firebaseapp.com",
  databaseURL: "https://studio-8515800634-32539-default-rtdb.firebaseio.com",
  projectId: "studio-8515800634-32539",
  storageBucket: "studio-8515800634-32539.firebasestorage.app",
  messagingSenderId: "140048355957",
  appId: "1:140048355957:web:a75f4c3de94cc6015a5e3c"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);